# Ignore all input and output files, except for the example.
data/input/*
!data/input/example_*.txt
!data/input/default_plot_settings.txt
data/output/*
!data/output/*_example_*.txt
plots/*
!plots/*_example_*
# Ignore the contents of paper/
paper/*
# Ignore the cluster submission files
cluster/*
# Ignore pptx files
scratch/*
# Ignore mac specific files
.DS_Store
# Ignore PyPi distribution
dist/*
# Ignore cache files
**/__pycache__/*
**.pyc